/.idea/
/bin/abc
/bin/apigen
/bin/audit
/bin/composer
/bin/jsonlint
/bin/phing
/bin/phpunit
/bin/plaisio
/bin/stratum
/bin/validate-json
/composer.lock
/doc/
/etc/routines.json
/etc/config-vault.json
/var/
/vendor/
/www/images/framework/
/www/images/oauth2/
/www/index.php
/www/js/SetBased/Abc
/www/js/jquery-ui/
/www/js/jquery/
/www/js/js-cookie/
/www/js/json/
/www/js/async.js
/www/js/require.js
